services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: qpuig
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: piscineds
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ../../../42_subjects/piscine_data_science:/subjects

volumes:
  pgdata:
      